body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 0;

  font-size: 18px;
  line-height: calc(24 / 18);
  color: rgb(29, 29, 29);
}

/* wrapper */
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  padding: 0px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main content */
.main-content {
  padding-top: 40px;
  padding-left: 44px;
  padding-right: 72px;
  padding-bottom: 40px;
}

/* About me */
.about-me-container {
  margin-bottom: 64px;
  padding-top: 20px;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 20px;
  background-color: rgba(238, 217, 217, 0.15);
}

.my-profession {
  font-weight: 700;
  font-size: 28px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 20px 0;
}

.my-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}

.my-descr {
  margin: 0;
}

.main-content-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 14px 0;
  text-align: center;
}

/* projects */
.project-item {
  font-size: 18px;
  color: #000000;
}
.project-item-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.project-list {
  padding: 0 0 0 16px;
  margin: 0;
}

.projects-container {
  margin-bottom: 72px;
  padding-left: 44px;
}

.project-item-link {
  color: #005fff;
}

.project-item-descr {
  font-size: 16px;
  color: #595959;
}

/* work-experience */

.work-experience-container {
  margin-bottom: 72px;
  padding-left: 44px;
  padding-right: 44px;
}

.work-experience-place {
  margin-bottom: 16px;
}

.work-experience-position,
.faculty {
  margin: 0px 0 0 0px;

  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.753);
}

.work-experience-company {
  margin: 0;
  margin-bottom: 4px;
  font-size: 22px;
  color: #6d9bf5;
}

.work-period {
  margin: 12px 0 8px 0px;
  font-size: 18px;
  line-height: 15px;
  color: #a8a8a8;
}

.period-pipe {
  color: #000000;
}

.work-duties {
  font-weight: 400;
  font-size: 18px;
  color: #595959;
}

.work-duties-list {
  padding: 0;
  margin: 0 0 0 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.education-container {
  margin-bottom: 72px;
  padding-left: 44px;
  padding-right: 44px;
}

.education-container .education-list {
  gap: 20px;
}

.education-title {
  margin: 0;
}

.education-item:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faculty {
  font-size: 18px;
}
/* Languages */

.languages-container {
  padding-left: 44px;
  padding-right: 44px;
}

.languages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px;
}
.languages-item {
  display: flex;
  justify-content: space-between;
}
.languages-level {
  font-size: 18px;
  font-weight: 400;
}
/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  /* gap: 120px; */
  padding-top: 40px;
  padding-bottom: 40px;

  width: 370px;
  background: rgba(224, 235, 254, 0.3);
}

.my-photo {
  display: block;
  height: 290px;
  padding: 0 40px;
  object-fit: cover;
  object-position: top;
  border: 1px solid transparent;
  border-radius: 50%;
}
.skill-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px;
  margin: 0;
  padding: 0;
}
.icon {
  stroke: #161d2a;
  fill: transparent;
}
.phone-icon {
  stroke-width: 2px;
  scale: 1.2;
}
.telegram-icon {
  fill: rgba(0, 89, 255, 0.56);
  scale: 1.2;
}
.linkedin-icon {
  border: 1px solid blue;
  border-radius: 2px;
  background-color: rgb(50, 124, 205);
  background-color: rgba(0, 110, 255, 0.93);

  fill: #fff;
  scale: 0.8;
}
.sidebar-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

.contacts-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;

  font-size: 16px;
}

.contacts-number {
  color: #161d2a;
}

.contacts-mail {
  color: #2979ff;
}

.contacts-list a {
}

/* skills-list */
.skills-list {
  margin: 0px;
  padding: 0 0 0 16px;
}

.skills-list-item {
  font-size: 20px;
  color: #161d2a;
}
.skills-list-item::marker {
  color: #6d9bf5;
}
