body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

/* wrapper */
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  padding: 0px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main content */
.main-content {
  padding-top: 100px;
  padding-left: 88px;
  padding-right: 216px;
  padding-bottom: 108px;
}

/* About me */
.about-me-container {
  margin-bottom: 64px;
}

.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 20px 0;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
  width: 525px;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/* projects */
.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-list {
  padding: 0 0 0 16px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #005fff;
}

.projects-container {
  margin-bottom: 52px;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* work-experience */

.work-experience-container {
  margin-bottom: 44px;
}

.work-experience-place {
  margin-bottom: 16px;
}

.work-experience-position {
  margin: 12px 0 0 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.work-experience-company {
  margin: 12px 0 0 0px;
  color: #6d9bf5;
}

.work-period {
  margin: 12px 0 8px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.period-pipe {
  color: #000000;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work-duties-list {
  padding: 0;
  margin: 0 0 0 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.education-container {
  margin: 40px 0 0 0;
}

.faculty {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* sidebar */
.sidebar {
  width: 370px;
  background: #e0ebfe;
}

.my-photo {
  margin-top: 40px;
}

.contacts-container,
.tech-skills-container {
  margin: 48px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.contacts-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
}

/* skills-list */
.skills-list {
  margin: 0px;
  padding: 0 0 0 16px;
}

.skills-list-item {
  color: #6d9bf5;
}

.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.soft-skills-container {
  margin: 44px 0 0 40px;
}
